{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    {% tailwind_css %}
</head>
        <header class="bg-gradient-to-t from-yellow-500 to-yellow-500 shadow-xl z-1">
            <div class="w-full h-24 flex justify-evenly pt-2 p-2 md:gap-12 shadow-xl rounded-b-lg">
                <img id="logo" class="border-2 border-gray-900 w-20 h-20 rounded-full shadwo-lg" src="" alt="">
                <div class=" w-3/4 md:w-10/12 h-20">
                    <nav class="flex justify-end pt-8 md:mx-8 gap-2">
                        <span class="md:opacity-100 opacity-0 mx-52 hover:shadow-lg hover:transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-500"><input  type="search" class="w-64 h-8 rounded-lg"><svg class="my-[-1.5rem] absolute mx-56" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                          </svg></span>
                        <span class="md:hidden mx-4 mt-1.5 "><svg  xmlns="http://www.w3.org/2000/svg" class="mt-[-0.25rem] text-white hover:text-yellow-300 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-500" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                          </svg></span>
                        <ul class="flex justify-end gap-4 md:gap-32">
                            <li class=""><a href="{% url 'index' %}"><svg class="text-white hover:text-black transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                              </svg></a></li>
                            <li class=""><a href=""><svg class="text-white hover:text-black transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
                                <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16m0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15"/>
                              </svg></a></li>
                            <div id="userProfile" name="close" onclick="userProfile(this)">
                                <img class="border-2 border-gray-900 rounded-full w-10 h-10 mt-[-0.5rem] hover:transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-500 hover:shadow-transparent" src="" alt="">
                                <ul id="userProfileUl" class="z-10 my-4 absolute mx-[-3rem] md:mx-[-1rem] rounded-xl p-4 w-24 backdrop-blur-3xl hidden">
                                    
                                    <li class="p-2 text-white hover:text-black hover:transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-500"><a href="">{{user}}</a></li>
                                    <li class="p-2 text-white hover:text-black hover:transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-500"><a href="">Profile</a></li>
                                    <li class="p-2 text-white hover:text-black hover:transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-500"><a href="">Fav</a></li>
                                    <li class="p-2 text-white hover:text-black hover:transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-500"><a href="{%url 'logout' %}">Logout</a></li>
                                </ul>
                            </div> 
                            </ul> 
                            </nav>  
                </div>
                
            </div>
           </header>
           {% block bodyblock %}
           {% endblock %} 
           